body {
  margin: 0;
}
.navbar {
  margin-bottom: 20px;
}
.nav-img {
  height: 90px;
  width: 80px;
  margin-right: 20px;
}
.home img{
  height: 50%;
  width: 50%;
  display: block;
  margin: auto;
}
.home p {
  text-align: center;
  font-size: 3vw;
}